.Rproj.user
.Rhistory
.RData
.Ruserdata

# MacOS .DS_Store file does not provide anything useful to collaborators and
# causes conflicts between Mac users
.DS_Store

/.quarto/



# Ignore Windows system files
NTUSER.*
AppData/
OneDrive/
Desktop/
Documents/
Downloads/
Saved Games/
Videos/
Pictures/
Searches/
Thumbs.db
.DS_Store
*.log
